# Entornos virtuales de Python
venv/
.venv/
env/
__pycache__/

# Variables de entorno (¡CRÍTICO!)
.env
.env.local
.env.*

# Node y dependencias del Frontend
node_modules/
dist/
.astro/

# SO
.DS_Store

.cache/